* {
  box-sizing: border-box !important;
}

body {
    margin-top: 82px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

.flex-center-between-carousel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.carousel {
    position: fixed;
    width: 100%;
    height: calc(100vh - 82px);
    overflow: hidden;
    z-index: -1;
}

.carousel img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

@media (max-width: 991px) {
    .flex-center-between-carousel  {
        align-items: flex-start;
    }

    .carousel {
        height: auto;
    }
}